{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Become a Team{% endblock %}

{% block admin_content %}
<h2 class="mt-2">Become a Team</h2>

<ul class="list-unstyled mt-3">
    {% for team in teams %}
    <li class="mb-1">
        <form action="{{ path('admin_become_as') }}" method="POST">
            <input type="hidden" name="teamId" value="{{ team.id }}">
            <button type="submit" class="btn btn-sm btn-wmffl">{{ team.name }}</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
