SuPHP_ConfigPath /home/joshutt/git/football

ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^(.*)/$ /$1.php [NC,L]

<Files php.ini>
order allow,deny
deny from all
</Files>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

SetEnv HTTP_configFile  "/home/joshutt/git/conf/wmffl.conf"

deny from 162.210.198.6
deny from 199.115.112.90
