ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<Files php.ini>
order allow,deny
deny from all
</Files>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

php_value include_path ".;C:\pear\share\pear;C:\Users\Josh\IdeaProjects\wmffl\football;C:\Users\Josh\IdeaProjects\wmffl\conf;C:\Users\Josh\IdeaProjects\wmffl\lib"
php_value error_log "C:\Users\Josh\IdeaProjects\wmffl\logs\wmffl.log"
php_value log_errors 1
php_value display_errors 0

