#suPHP_ConfigPath /home/joshutt/git/football
#PHPIniDir "C:/Users/Josh/IdeaProjects/wmffl"

ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<Files php.ini>
order allow,deny
deny from all
</Files>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

SetEnv HTTP_configFile  "/home/joshutt/git/conf/wmffl.conf"
php_value include_path ".;c:/php7/includes;c:/pear/share/pear;C:/Users/Josh/IdeaProjects/wmffl/football;../lib;../conf"
