body {
    background-color: #f5efef;
}


A.headline:link {color:e2a500; text-decoration:None; font-size:12pt; font-weight:bold}
A.headline:active {color:e2a500; text-decoration:None; font-size:12pt; font-weight:bold}
A.headline:visited {color:e2a500; text-decoration:None; font-size:12pt; font-weight:bold}
A.headline:hover {color:660000; text-decoration:None; font-size:12pt; font-weight:bold}

.stats {background-color:f5efef}
A.stats:link {font-size:10pt; text-decoration:none; color:660000;}
A.stats:visited {font-size:10pt; text-decoration:none; color:660000;}
A.stats:hover {font-size:10pt; text-decoration:none; color:e2a500;}

A:link {color:660000;}
A:active {color:e2a500;}
A:visited {color:660000;}
A:hover {color:e2a500;}

.row{white-space:nowrap;padding:1px 3px 1px 3px;}
.c1{background-color:#EFEFEF;}
/*.c1{background-color:#F8FCCC;}*/
.C{text-align:center;}

.titleLine1{font-size:24px;color:#660000; font-weight: bold;}
/*.titleLine1{font-size:24px;color:#004080;}*/
.titleLine2{font-size:16px;color:#CC3300;}

.PQDO {
        float: left;
        color: #FF3300;
        font-style: italic;
        width: 20px;
        text-align: center;
        padding: 0px 1px 0px 2px;
}

.headline_photo {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}
.caption {
	font-size: 8pt;
	color: #e2a500;
	font-weight: 700;
	margin-bottom: 5px;
}

.rap{white-space:normal;}

.newsdate {
	font-size: 8pt;
	font-weight: 700;
	color: #660000;
}

.inelig {
	color: #8888BB;
	font-style: italic;
}

.mainStory {
	margin-bottom: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
}
.cat, .catfoot {
	background-color:#660000;
	color:#e2a500;
	height:25px;
	font-weight:700;
	white-space:nowrap;
	padding-left:8px;
	padding-right:3px;
	padding-top:0px;
	padding-bottom:0px
}

.mainTable {
    background-repeat: repeat-y;
    background-color: #ffffff;
    border: 1px solid;
}

.sideButton {
    font-size: 18px;
    height: 24px;
    border: 0px solid;
    text-align: center;
    // margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #660000;
    font-family: Georgia, serif;
}

.loginText {
    font-weight: bold;
    color: #660000;
}

.footer {
    float: left;
    background-color: white;
}


A.sideButton {text-decoration: none; font-size:18px;}

A.sideButton:link {color:#e2a500; text-decoration: none; font-weight: bold}
A.sideButton:active {color:#e2a500; text-decoration: none; font-weight: bold}
A.sideButton:visited {color:#e2a500; text-decoration: none; font-weight: bold}
A.sideButton:hover {color:#ffffff; background-color: #e2a500; text-decoration: none; font-weight: bold}


.header {
    background-color: #660000;
    height: 64px;
    border: 1px solid;
    box-shadow: 0px 2px;
}

#logo {
    width: 64px;
    float: left;
}

#menuList {
    float: left;
    padding-left: 0px;
}

#menuList > li {
    margin: 0px;
    border: 0px;
    display: block;
    // border: 1px solid; 
    float: left;
    // margin: 10px;
    padding: 5px;
}

.menuBlock {
    width: 1050px;
    height: auto;
    margin: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.leagueHeader {
    font-weight: bold;
    font-size: xx-large;
    color: #e2a500;
}
