.title {
}

li {
}

.boxScore {
    white-space: nowrap;
}

.headline {
    white-space: normal;
}

.gameBox {
    background-color: #eeeeee;
    font-size: 10pt;
    text-decoration: none;
    color: Brown;
}

a.NFLHeadline {
    font-size: 10pt;
    text-decoration: none;
    color: Brown
}

a.NFLHeadline:hover {
    color: Red
}

a.comment {
    font-size: 10pt;
    text-decoration: none;
    color: #e2a500
}

a.comment:hover {
    color: Brown
}

.centerpiece {
    max-width: 695px;
}