{% extends 'base.html.twig' %}

{% block title %}Fighting Squirrels - WMFFL{% endblock %}

{% block content %}
<h1 class="text-center">The Fighting Squirrels</h1>
<h5 class="text-center">Owner: Andy Eckert<br>Member in 1996 (now Defunct)</h5>
<hr size="1">

<p>
    One cold day back in 1995 Andrew Evan Eckert had a vision. A team for the
    Watkins Mill Fantasy Footbal League that wouldn't care about winnning,
    they cared about having fun. In the season of 1996, Capt. Eckert's vision
    came to life. His team had an amazing debut season at 2 and 10. No ties!
    After that killer season the team had an important choice, merge with
    another team. Team owner Tim Shoobridge had a team with a winning record,
    Tsunami! With Tim's fighting spirit and Andrew's Fun-Lovin' their teams
    join to create the Hempaholics. With a tie for first place in their
    division, the Hempaholics kick tons of ass. What is in store for this
    team? Only the future will tell.
    <br>
    AEE 11-10-97
</p>

<hr size="1">
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <h3 class="text-center">History</h3>
        <table class="table table-sm table-striped">
            <thead>
            <tr><th>Year</th><th>W</th><th>L</th><th>T</th><th>Pct</th><th>Finish</th></tr>
            </thead>
            <tbody>
            <tr class="font-weight-bold"><td>All-Time</td><td>2</td><td>10</td><td>0</td><td>.167</td><td></td></tr>
            <tr><td>1996</td><td>2</td><td>10</td><td>0</td><td>.167</td><td>5th Place - Orange Division</td></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-md-4">
        <table class="table table-sm">
            <thead><tr><th colspan="2">Past Owners</th></tr></thead>
            <tbody><tr><td>1996</td><td>Andy Eckert</td></tr></tbody>
        </table>
    </div>
    <div class="col-6 col-md-4">
        <table class="table table-sm">
            <thead><tr><th colspan="2">Past Names</th></tr></thead>
            <tbody><tr><td>1996</td><td>The Fighting Squirrels</td></tr></tbody>
        </table>
    </div>
</div>
{% endblock %}
