{% extends 'base.html.twig' %}

{% block title %}Preview - {{ article.title }}{% endblock %}

{% block content %}
<div id="articleBlock" class="container">
    {{ include('article/_article.html.twig') }}

    <form action="{{ path('article_confirm', {id: article.id}) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('article_confirm') }}"/>
        <div class="text-center my-3">
            <input type="submit" class="btn btn-wmffl" name="Edit" value="Edit"/>
            <input type="submit" class="btn btn-wmffl" name="Publish" value="Publish"/>
        </div>
    </form>
</div>
{% endblock %}
